<!DOCTYPE html>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a> sample application.

  <%= form_tag url_for(action: 'create'), method: 'post' do %>
    <%= label_tag 'Title' %>
    <%= text_field_tag 'title' %>
    <%= label_tag 'Body' %>
    <%= text_area_tag 'body' %>
    <%= label_tag 'Author' %>
    <%= text_field_tag 'author' %>
    <%= submit_tag 'Create Post' %>
  <% end %>
</p>
